@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 20 20 20;
  --primary: 37 99 235; /* blue-600 */
  --accent: 132 204 22; /* lime-500 */
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}

